:root {
	--container-width: 1470px;
	--container-width-main: 1230px;
	--container-padding: 0px 15px;

	--font-main: 'Raleway', sans-serif;
	--font-accent: 'Roboto', sans-serif;

	--page-bg: #fff;
	--text-color: #fff;
	--accent: #214E41;
	--accent-2: #43806C;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}