.header{
    padding: 0px 41px;

    @media (max-width: 1062px){
        padding: 0px 15px;
    }
    @media (max-width: 400px){
        padding: 0px;
    }
}

.header__row{
    display: flex;
    justify-content: space-between;
    padding: 19px 0px 20px 0px;
    align-items: center;

    @media (max-width: 401px){
        padding: 19px 15px 20px 15px;
    }
}
.logo{
    padding-top: 6px;
}
.nav{
    display: flex;
    align-items: center;
    padding: 15px 15px 0px 28.47px;

    & ul{
        display: flex;
        column-gap: 50px;
        margin-right: 69px;

        & li{
            font-family: var(--font-main);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
        }

        & a{
            color: var(--accent);
            &:hover{
                border-bottom: 2px solid var(--accent);
            }
        }

        @media (max-width: 1186px){
            margin-right: 39px;
        }
        @media (max-width: 1151px){
            column-gap: 35px;
        }
    }

    @media (max-width: 1015px){
        display: none;
    }
}
.header-button{
    display: flex;
    align-items: center;

    & a{
        margin-right: 29px;
        padding: 10px 13px 10px 13px;
        color: var(--text-color);
        background-color: var(--accent-2);
        font-family: var(--font-main);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        border-radius: 6px;

        &:hover{
            opacity: 0.5;
            transition: 0.4s;
        }
    }
    & p{
        color: var(--accent);
        font-family: var(--font-main);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 153.846% */
        text-transform: uppercase;
    }

}