.page-4{
    margin-bottom: 120px;

    @media (max-width: 426px){
        margin-bottom: 80px;
    }
}
.page-4-wrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (max-width: 900px){
        gap: 30px;
    }
}
.page-4-content{
    display: flex;
    column-gap: 39px;
    align-items: center;

    .page-4-information{
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 671px){
        flex-direction: column-reverse;
        gap: 30px;
    }
}
.page-4-information{

    & h3{
        color: var(--accent-2);
        font-family: var(--font-main);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 153.846% */
        letter-spacing: 0.05px;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (max-width: 874px){
            font-size: 12px;
        }
        @media (max-width: 721px){
            margin-bottom: 15px;
        }
    }
    & h2{
        color: var(--accent);
        font-family: var(--font-accent);
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 127.778% */
        margin-bottom: 34px;

        @media (max-width: 1147px){
            font-size: 34px;
        }
        @media (max-width: 1118px){
            font-size: 33px;
            margin-bottom: 27px;
        }
        @media (max-width: 1104px){
            font-size: 31px;
            line-height: 43px;
            margin-bottom: 23px;
        }
        @media (max-width: 1075px){
            font-size: 29px;
            line-height: 40px;
        }
        @media (max-width: 1046px){
            font-size: 27px;
            line-height: 38px;
        }
        @media (max-width: 1017px){
            font-size: 25px;
            line-height: 36px;
            margin-bottom: 20px;
        }
        @media (max-width: 989px){
            font-size: 23px;
            line-height: 34px;
        }
        @media (max-width: 961px){
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 17px;
        }
        @media (max-width: 931px){
            font-size: 19px;
            line-height: 30px;
        }
        @media (max-width: 903px){
            font-size: 17px;
            line-height: 28px;
        }
        @media (max-width: 874px){
            font-size: 15px;
            line-height: 24px;
        }
        @media (max-width: 671px){
            font-size: 18px;
        }
        @media (max-width: 353px){
            font-size: 15px;
            margin-bottom: 14px;
        }
        
    }
    & p{
        color: #757575;
        font-family: var(--font-main);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
        letter-spacing: 0.02px;
        max-width: 551px;

        @media (max-width: 1017px){
            font-size: 16px;
            line-height: 28px;
        }
        @media (max-width: 931px){
            font-size: 15px;
            line-height: 25px;
        }
        @media (max-width: 874px){
            font-size: 14px;
        }
    }
}
.page-4-content__img{

    @media (max-width: 845px){
        max-width: 500px;
    }
    @media (max-width: 791px){
        max-width: 430px;
    }
    @media (max-width: 721px){
        max-width: 380px;
    }
    @media (max-width: 386px){
        max-width: 340px;
    }
    @media (max-width: 353px){
        max-width: 300px;
    }
}
.page-4-statistics{
    display: flex;
    column-gap: 50px;

    & .statistics-block{
        display: flex;
        flex-direction: column;
        row-gap: 13px;

        @media (max-width: 801px){
            row-gap: 8px;
        }
        @media (max-width: 711px){
            row-gap: 0px;
        }
    }

    @media (max-width: 801px){
        column-gap: 25px;
    }
    @media (max-width: 559px){
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
.statistics-block{

    & h2{
        color: #F0A446;
        font-family: var(--font-accent);
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 78px; /* 130% */

        @media (max-width: 801px){
            font-size: 50px;
        }
        @media (max-width: 711px){
            font-size: 40px;
        }
        
    }
    & p{
        color: var(--accent);
        font-family: var(--font-main);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 169.231% */
        letter-spacing: 0.02px;

        @media (max-width: 711px){
            font-size: 12px;
            line-height: 20px;
        }
    }
}
.statistics-block__p-1{
    max-width: 275px;

    @media (max-width: 559px){
        max-width: 350px;
    }
}
.statistics-block__p-2{
    max-width: 270px;

    @media (max-width: 559px){
        max-width: 350px;
    }
}
.statistics-block__p-3{
    max-width: 220px;

    @media (max-width: 559px){
        max-width: 350px;
    }
}
.statistics-block__p-4{
    max-width: 225px;

    @media (max-width: 559px){
        max-width: 330px;
    }
}